/*Fix fullscreen*/
.app-wrapper-web ._aigs:not(._as6h) {
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh !important;
  top: 0 !important;
}
/*Fix border header*/
.xd32934 {
  border-top-left-radius: 0px !important;
}
/*Toggle icon size*/
.theme-toggle-icon {
  height: 1.4rem !important;
  width: 1.4rem !important;
}
/**/
.xieb3on {
  display: none !important;
}

/*efecto de transicion blur*/
[role="listitem"] {
  transition: filter 0.1s ease !important;
}
.activo {
  background: var(--menu-bar-item-background-active) !important;
}
